NEXT_PUBLIC_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:3000
MONGO_URI=your_mongodb_atlas_uri

# --- RAZORPAY CONFIG ---
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# --- CLOUDINARY CONFIG ---
CLOUDINARY_CLOUD_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# --- NEXTAUTH CREDENTIALS ---
GOOGLE_ID=your_google_client_id
GOOGLE_SECRET=your_google_client_secret

# --- BREVO API CONFIG ---
BREVO_API_KEY=your_brevo_api_key
EMAIL_FROM=Quickzy Store <your_verified_sender_email>

# --- AUTH & CONTACT ---
ADMIN_EMAIL=your_master_admin_email_for_protection
CONTACT_RECIPIENT=your_support_notifications_email

# --- EXTERNAL SERVICES ---
NEXT_PUBLIC_LOCATIONIQ_KEY=your_location_iq_api_key
